body {
    font-family: Arial, sans-serif;
}

#map {
    height: 600px;
    width: 80%;
    margin: auto;
    border: 2px solid #ccc;
}

#controls {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#controls input, #controls button {
    margin-right: 5px;
}

#locationList {
    width: 80%;
    margin: 20px auto;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 5px 0;
}

ul li button {
    margin-left: 10px;
}
